.field {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  input {
    &.ng-invalid {
      border-color: red;

      + label {
        color: red;
      }
    }
  }
}

